# --- Python Basics ---
__pycache__/
*.py[cod]
*$py.class

# --- Django ---
db.sqlite3
local_settings.py

# --- Umgebungsvariablen & Secrets (WICHTIG!) ---
.env
.venv
venv/
ENV/

# --- VS Code Einstellungen (Optional, aber gut) ---
.vscode/

# --- Mac OS Müll (da du einen Mac hast) ---
.DS_Store