# --- Python Basics ---
__pycache__/
*.py[cod]
*$py.class

# --- Django ---
db.sqlite3
local_settings.py

# --- Environment Variables & Secrets ---
.env
.venv
venv/
ENV/

# --- VS Code settings ---
.vscode/

# --- Mac-OS trash
.DS_Store